:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --dark-background: #2f303a;
  --header-border: #ececec;
  --gray-background: #f5f4fa;
  --the-lightest: #ffffff;
  --hero-background: #c4c4c4;
  --icons-fill: #afb1b8;
  --overlay-background: rgba(33, 150, 243, 0.9);
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscr-form__btn, .clients__item, .clients__list, .products__lable, .user-consent, .modal-window__close-btn, .social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  scale: 0;
}

@media screen and (min-width: 768px) {
  .current-page {
    position: relative;
    color: var(--accent-color);
  }
  .current-page::after {
    content: "";
    position: absolute;
    top: calc(100% - 3px);
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}
body {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  background-color: var(--the-lightest);
  font-size: 14px;
  letter-spacing: 0.03em;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--title-text-color);
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.hero .container {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

@media screen and (min-width: 480px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.logo {
  font-family: var(--secondary-font);
  color: #000;
}
.logo_accent {
  color: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 92px;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
  }
}
@media screen and (min-width: 768px) {
  .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 31px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color var(--transition-dur-and-func);
  }
  .link:hover, .link:focus {
    color: var(--accent-color);
  }
}
@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    display: block;
    margin-left: auto;
  }
  .contacts__link {
    color: var(--primary-text-color);
  }
  .contacts__icon {
    fill: currentColor;
    margin-right: 8px;
  }
}
@media screen and (max-width: 1199px) {
  .email .contacts__link {
    padding-top: 15px;
    padding-bottom: 5px;
  }
  .tel-number .contacts__link {
    padding-top: 5px;
    padding-bottom: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    margin-left: auto;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }
  .contacts__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 31px;
  }
  .contacts__icon {
    margin-right: 10px;
  }
}
.footer .contacts {
  display: block;
  margin-top: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-dur-and-func);
}
.footer .contacts:hover, .footer .contacts:focus {
  color: var(--accent-color);
}

.button {
  min-width: 200px;
  height: 50px;
  padding: 10px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--the-lightest);
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .button {
    min-width: 216px;
  }
}
.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  color: var(--title-text-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
  }
}
.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-btn {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color var(--transition-dur-and-func), color var(--transition-dur-and-func);
}

.btn-icon {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-dur-and-func);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  scale: 0;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 30px);
  min-height: 581px;
  padding: 40px;
  scale: 1;
  transition: scale var(--transition-dur-and-func);
  background-color: var(--the-lightest);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal-window {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-window {
    width: 528px;
  }
}
.modal-window__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill var(--transition-dur-and-func);
}
.modal-window__close-btn:hover, .modal-window__close-btn:focus {
  fill: var(--accent-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__title {
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--title-text-color);
}

.modal-form__field:nth-child(-n+3) {
  margin-bottom: 10px;
}

.modal-form__field-name {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-dur-and-func);
}
.modal-form__input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form__comment-field {
  margin-bottom: 20px;
}

.modal-form__comment {
  height: 120px;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color var(--transition-dur-and-func);
}
.modal-form__comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__comment:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form__input-wrapper {
  position: relative;
  display: block;
}

.modal-form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--transition-dur-and-func);
}
.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.user-consent {
  margin-bottom: 30px;
}

.checkbox {
  appearance: none;
  position: absolute;
}

.user-consent__desc {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
}

.user-consent__document {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.checkbox__item {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
  cursor: pointer;
}
.checkbox:focus + .checkbox__item {
  box-shadow: 0 0 0 2px rgb(9, 95, 191);
}
.checkbox:checked + .checkbox__item {
  border: none;
  background-color: var(--accent-color);
  box-shadow: none;
}

.checkbox__icon {
  fill: #ffffff;
}

.modal-form__submit-btn {
  align-self: center;
  min-width: 200px;
}

@media screen and (max-width: 480px) {
  .user-consent {
    display: inline-block;
  }
}
@media screen and (min-width: 1200px) {
  .modal-form__field-name {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.16;
  }
  .user-consent__desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }
  .user-consent__document {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 48px 40px;
    z-index: 999;
    background-color: var(--the-lightest);
    transform: translateX(100%);
    transition: transform var(--transition-dur-and-func);
  }
  .mobile-menu__container.is-open {
    transform: translateX(0);
  }
  .mobile-menu__container .menu-toggle {
    position: absolute;
    top: 10px;
    right: 15px;
  }
  .menu-toggle__close-icon {
    width: 40px;
    height: 40px;
    transition: fill var(--transition-dur-and-func);
  }
  .menu-toggle__close-icon:hover, .menu-toggle__close-icon:focus {
    fill: var(--accent-color);
  }
  .mobile-menu__contacts {
    width: 100%;
    margin-top: auto;
    margin-bottom: 64px;
  }
  .mobile-menu .link {
    display: block;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    transition: color var(--transition-dur-and-func);
  }
  .mobile-menu .link:active, .mobile-menu .link:hover, .mobile-menu .link:focus {
    color: var(--accent-color);
  }
  .mobile-menu__item {
    margin-bottom: 32px;
  }
  .tel-number {
    margin-bottom: 32px;
    display: inline-block;
  }
  .tel-number .link {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .email .link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
  .mobile-menu__socials {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 5px;
    align-content: flex-start;
  }
  .socials__item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .socials__item:not(:first-child) {
    padding-left: 10px;
  }
  .socials__link {
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}
@media screen and (min-width: 767px) {
  .mobile-menu__container {
    display: none;
  }
}
.page-header {
  border-bottom: 1px solid var(--header-border);
}

@media screen and (max-width: 767px) {
  .page-header {
    padding-top: 10px;
    padding-bottom: 9px;
  }
  .page-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu-toggle {
    line-height: 0;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    padding: 0;
  }
  .menu-toggle__open-icon {
    width: 24px;
    height: 16px;
    transition: fill var(--transition-dur-and-func);
  }
  .menu-toggle__open-icon:hover, .menu-toggle__open-icon:focus {
    fill: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .site-nav__links {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .site-nav {
    min-width: 720px;
    display: flex;
    align-items: center;
  }
  .site-nav__links {
    display: flex;
    gap: 50px;
    color: var(--title-text-color);
  }
}
.hero {
  padding-top: 118px;
  padding-bottom: 200px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .hero .container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
.hero__background {
  max-width: 1600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero-background);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--the-lightest);
  width: 360px;
  margin: 0 auto 30px;
}

@media screen and (max-width: 400px) {
  .hero__title {
    width: 260px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero__background {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mobile@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero__background {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tablet.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero__background {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero__background {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-desktop.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero__background {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-desktop@2x.jpg");
  }
}
.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

.features__title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.features__thumb {
  height: 120px;
  text-align: center;
  background-color: var(--gray-background);
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__desc {
  line-height: 1.71;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .features__item {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 767px) {
  .features__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
  .features__item {
    width: 354px;
  }
  .features__title {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .features__item {
    width: 270px;
  }
}
@media screen and (max-width: 479px) {
  .features__item {
    width: 100%;
  }
  .features__list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
  }
}
.products {
  text-align: center;
  padding-bottom: 94px;
}

.products__list {
  display: flex;
}

.products__item {
  position: relative;
}
.products__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.products__lable {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 1.14;
  line-height: 1.15;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--the-lightest);
}

@media screen and (max-width: 1199px) {
  .products {
    display: none;
  }
}
.team {
  background-color: var(--gray-background);
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.team-card {
  width: 450px;
  align-self: center;
  background: var(--the-lightest);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-card__person {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.team-card__desc {
  font-weight: 16px;
  font-size: 1.19;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 16px;
}

.team-card__social-btn {
  color: var(--icons-fill);
}
.team-card__social-btn:hover, .team-card__social-btn:focus {
  background-color: var(--accent-color);
  color: var(--the-lightest);
}

@media screen and (max-width: 479px) {
  .team-card {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .team-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
  }
  .team-card {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team-card {
    width: 270px;
  }
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients__list {
  width: 100%;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__item {
  width: 210px;
  height: 92px;
  color: var(--icons-fill);
  border: 1px solid var(--icons-fill);
  border-radius: 4px;
  transition: border-color var(--transition-dur-and-func), color var(--transition-dur-and-func);
}
.clients__item:hover, .clients__item:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.clients__logo {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 88px;
    padding-bottom: 94px;
  }
  .clients__list {
    flex-wrap: nowrap;
  }
  .clients__item {
    width: 170px;
  }
}
.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filters {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.filters__btn {
  padding: 6px 22px;
  transition: background-color var(--transition-dur-and-func), color var(--transition-dur-and-func), box-shadow var(--transition-dur-and-func);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background: var(--gray-background);
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
}
.filters__btn_current {
  padding: 6px 25px;
}
.filters__btn:hover, .filters__btn:focus, .filters__btn_current {
  background-color: var(--accent-color);
  color: var(--the-lightest);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
}

.project-card {
  width: calc((100% - 60px) / 3);
}
.project-card:not(:nth-child(3n)) {
  margin-right: 30px;
}
.project-card:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
}

.project-card__border {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.project-card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.project-card__type {
  font-weight: 16px;
  font-size: 1.88;
  line-height: 1.15;
  color: var(--primary-text-color);
}

.project-card__link-wrapper {
  display: block;
  transition: box-shadow var(--transition-dur-and-func);
}
.project-card__link-wrapper:hover, .project-card__link-wrapper:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-card__img-wrapper {
  position: relative;
  overflow: hidden;
}

.project-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--transition-dur-and-func);
  height: 100%;
  width: 100%;
  padding: 62px 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.56;
  background-color: var(--overlay-background);
  color: var(--the-lightest);
}
.project-card__link-wrapper:hover .project-card__overlay, .project-card__link-wrapper:focus .project-card__overlay {
  transform: translateY(0);
}

.footer {
  background-color: var(--dark-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__flex-wrapper {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.footer__logo {
  color: var(--the-lightest);
  display: inline-block;
  margin-right: 0;
  margin-bottom: 20px;
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--the-lightest);
  transition: color var(--transition-dur-and-func);
}
.address:hover, .address:focus {
  color: var(--accent-color);
}

.owner-socials {
  margin-left: 70px;
}

.owner-socials__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--the-lightest);
  margin-bottom: 20px;
}

.owner-socials__items {
  display: flex;
  gap: 10px;
}

.owner-socials__btn {
  color: var(--the-lightest);
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 0;
}
.owner-socials__btn:hover, .owner-socials__btn:focus {
  background-color: var(--accent-color);
}

.subscription {
  margin-left: auto;
}

.subscr-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscr-form__title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--the-lightest);
}

.subscr-form__email-field {
  height: 50px;
  width: 358px;
  padding: 15px 16px;
  color: var(--the-lightest);
  background-color: var(--dark-background);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscr-form__btn {
  min-width: 200px;
  padding: 10px 28px;
}

.subscr-form__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */