.footer {
    background-color: var(--dark-background);

    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__flex-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.footer__logo {
    color: var(--the-lightest);
    text-align: center;
    display: block;
    margin-bottom: 20px;
    margin-right: 0;
}
@media screen and (min-width:768px) {
    .footer__flex-wrapper {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
        column-gap: 165px;
        row-gap: 60px;
        flex-wrap: wrap;
        }
}
@media screen and (min-width:1200px){
    .footer__flex-wrapper{
        flex-wrap: nowrap;
        gap: 0;
        justify-content: space-between;
}
    .footer__logo {
    text-align: start;
}
}
