.page-header {
    border-bottom: 1px solid var(--header-border);
}

@media screen and (max-width: 767px){
.page-header {
        padding-top: 10px;
        padding-bottom: 9px;
    }

    .page-header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .menu-toggle {
    line-height: 0;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    padding: 0;
    
    

}
.menu-toggle__open-icon {
    width: 24px;
    height: 16px;
    transition: fill var(--transition-dur-and-func);

    &:hover,
    &:focus{
        fill: var(--accent-color);
    }
}
}

@media screen and (min-width: 768px){
    .menu-toggle {
        display: none;
    }

}



