.project-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-items: center;
}
.project-card {
    max-width: 450px;
}

.project-card__border {
    border: 1px solid #eeeeee;
    border-top: none;

    padding: 20px 24px;
}

.project-card__title {
    @include font(700,18px,2);

    letter-spacing: 0.06em;
    color: var(--title-text-color);

    margin-bottom: 4px;
}

.project-card__type {
    @include font(16px, 1.88);

    color: var(--primary-text-color);
}

.project-card__link-wrapper {
    display: block;
    height: 100%;
    transition: box-shadow var(--transition-dur-and-func);

    &:hover,
    &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}
}

.project-card__img-wrapper {
    position: relative;
    overflow: hidden;
}

.project-card__overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    transform: translateY(101%);
    transition: transform var(--transition-dur-and-func);

    height: 100%;
    width: 100%;
    padding: 62px 24px;
    @include font(400, 18px, 1.56);
    
    background-color: var(--overlay-background);
    color: var(--the-lightest);

    .project-card__link-wrapper:hover &,
    .project-card__link-wrapper:focus & {
    transform: translateY(0);
}
}
@media screen and (max-width:479px) {
.project-card__overlay {
        padding: 30px 24px;
    }
}
@media  screen and (min-width:768px) {
    .project-cards{
        align-items: stretch;
        flex-direction: row;

    }
        .project-card {
        max-width: 354px; 
        
    }
    
    .project-card__link-wrapper{
        display: flex;
        flex-direction: column;
        
    }
    .project-card__border{
        flex-grow: 1;
        margin-bottom: auto;
    }
}
@media screen and (min-width:1200px) {
    .project-card {
        max-width: 370px;
    }

}