.products {
    text-align: center;
    padding-bottom: 94px;
}

.products__list {
    display: flex;
}
.products__item {
    position: relative;
    
    &:not(:nth-child(3n)) {
    margin-right: 30px;
}
    
}

.products__lable {
    position: absolute;
    bottom: 0;
    @extend %align;
    
    width: 100%;
    height: 70px;
    @include font(700,1.14);


    text-transform: uppercase;

    background-color: rgba(47, 48, 58, 0.8);
    color: var(--the-lightest);
}
@media screen and (max-width:1199px){
    .products {
        display: none;
    }
    
}