@media screen and (max-width: 767px) {
    .site-nav__links {
        display: none;
    }
}
@media screen and (min-width: 768px){
   .site-nav {
    min-width: 720px;
    display: flex;
    align-items: center;
}
.site-nav__links {
    display: flex;
    gap: 50px;

    color: var(--title-text-color);
} 
}

