

.subscr-form__title {
    text-align: center;
    display: block;
    margin-bottom:  20px;
    @include font(700, 14px, 1.14);

    
    text-transform: uppercase;

    color: var(--the-lightest);
}

.subscr-form__email-field {
    height: 50px;
    width: 450px;
    padding: 15px 16px;
    

    color: var(--the-lightest);
    background-color: var(--dark-background);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.subscr-form__btn {
    @extend %align;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    min-width: 200px;
    padding: 10px 28px;
}

.subscr-form__icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}
@media screen and (max-width:479px) {
    .subscription {
        width: 100%;
}
    .subscr-form__email-field {
    width: 100%;
    }
}
@media screen and (min-width:1200px) {
    .subscr-form {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            gap: 12px;
        }
    .subscr-form__title{
        text-align: start;
    }
    .subscr-form__email-field{
        width: 358px;
    }

}
