.contacts {
    display: flex;
    margin-left: auto;
    gap: 30px;
    align-items: center;
}

.contacts__link {
    display: flex;
    align-items: center;

    color: var(--primary-text-color);
}

.contacts__icon {
    fill: currentColor;
    margin-right: 10px;
}

.footer .contacts {
    display: block;
    margin-top: 9px;
    font-style: normal;

    @include font(400,$lh:1.71);
    
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--transition-dur-and-func);
    
    &:hover,
    &:focus {
    color: var(--accent-color);
}

}
