@media screen and (min-width:768px) {
    .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 31px;

    @include font(500,$lh:1.14);

    letter-spacing: 0.02em;

    transition: color var(--transition-dur-and-func);


    &:hover,
    &:focus {
    color: var(--accent-color);
}
}
}

