
    .logo {
    font-family: var(--secondary-font);

    color: #000;

    &_accent {
    color: var(--accent-color);}
} 
@media screen and (max-width: 1199px){
    .logo{
        @include font(700,24px,1.17);
    }
}
@media screen and (min-width: 768px){
    .logo{
        margin-right: 87px;
    }
}
@media screen and (min-width: 1200px){
    .logo{
        margin-right: 92px;
        @include font(700, 26px, 1.19);
}
    
}


