.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form__title {
    text-align: center;
    margin-bottom: 12px;

    @include font(700, 20px);
    
    color: var(--title-text-color);
}

.modal-form__field:nth-child(-n + 3) {
    margin-bottom: 10px;
}

.modal-form__field-name {
    display: inline-block;

    @include font($fs: 12px, $lh: 1.17);

    letter-spacing: 0.01em;
    margin-bottom: 4px;
    
}

.modal-form__input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--transition-dur-and-func);

    &:focus {
    border-color: var(--accent-color);
    outline: none;
}
}

.modal-form__comment-field {
    margin-bottom: 20px;
}

.modal-form__comment {
    height: 120px;
    width: 100%;
    padding: 12px 16px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    transition: border-color var(--transition-dur-and-func);

    &::placeholder {
    @include font($fs: 12px, $lh: 1.16);

    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}

    &:focus {
        border-color: var(--accent-color);
        outline: none;
}
}


.modal-form__input-wrapper {
    position: relative;
    display: block;
}

.modal-form__icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);

    transition: fill var(--transition-dur-and-func);


    .modal-form__input:focus+& {
    fill: var(--accent-color);
}
}

.user-consent {
    @extend %align;
    
    margin-bottom: 30px;
}

.checkbox {
    appearance: none;
    position: absolute;
}

.user-consent__desc {
    @include font($fs:12px, $lh: 1.17 );
    

}

.user-consent__document {
    @include font($fs: 12px, $lh: 1.17);
    
    text-decoration-line: underline;

    color: var(--accent-color);
}

.checkbox__item {
    width: 16px;
    height: 15px;
    margin-right: 7px;
    border: 2px solid #212121;
    border-radius: 2px;
    cursor: pointer;


    .checkbox:focus+& {
    box-shadow: 0 0 0 2px rgb(9, 95, 191);
}

    .checkbox:checked+& {
    border: none;
    background-color: var(--accent-color);
    box-shadow: none;
}
}

.checkbox__icon {
    fill: #ffffff;
}

.modal-form__submit-btn {
    align-self: center;
    min-width: 200px;
}
@media screen and (min-width:1200px) {
    .modal-form__field-name {

    @include font($fs: 14px, $lh: 1.16);


}
    .user-consent__desc {
    @include font($lh: 1.71);


}
.user-consent__document {
    @include font($lh: 1.71);

}
}


