.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 450px;
    min-height: 581px;
    padding: 40px;

    scale: 1;
    transition: scale var(--transition-dur-and-func);

    background-color: var(--the-lightest);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-window__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    @extend %align;
    
    width: 30px;
    height: 30px;

    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: fill var(--transition-dur-and-func);

    &:hover,
    &:focus {
    fill: var(--accent-color);
}
}

// .modal-window {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     width: 528px;
//     min-height: 581px;
//     padding: 40px;

//     scale: 1;
//     transition: scale var(--transition-dur-and-func);

//     background-color: var(--the-lightest);
//     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//         0px 2px 1px rgba(0, 0, 0, 0.2);
//     border-radius: 4px;
// }