@media screen and (min-width:768px) {
    .current-page {
    position: relative;

    color: var(--accent-color);


    &::after {
    content: "";
    position: absolute;
    top: calc(100% - 3px);
    left: 0;

    width: 100%;
    height: 4px;

    background-color: var(--accent-color);
    border-radius: 2px;
}
}
}
